
@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url("../public/assets/fonts/JetBrainsMono-Thin.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: url("../public/assets/fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url("../public/assets/fonts/JetBrainsMono-SemiBold.ttf") format("truetype");
}
