<main>
  <div class="profile-container">
    <div class="settinginfo-profile">
      <div class="avatar-container">
        <img
          [src]="
            user?.avatar || 'http://localhost:5000/uploads/default/nophoto.png'
          "
        />
      </div>
      <div class="username">
        <h1 class="h4">{{ user?.name }}</h1>
        <span class="regular">{{ user?.username }}</span>
      </div>
    </div>

    <div class="profile-edit-form">
      <div class="row">
        <div class="form-group half-width">
          <label>Имя</label>
          <input type="text" [(ngModel)]="name" [placeholder]="user?.name" />
          <div class="underline"></div>
        </div>

        <div class="form-group half-width">
          <label>Фамилия</label>
          <input
            type="text"
            [(ngModel)]="lastname"
            [placeholder]="user?.lastname"
          />
          <div class="underline"></div>
        </div>
      </div>

      <div class="row">
        <div class="form-group half-width">
          <label>Город</label>
          <input type="text" [(ngModel)]="city" [placeholder]="user?.city" />
          <div class="underline"></div>
        </div>

        <div class="form-group half-width">
          <label>Возраст</label>
          <input type="number" [(ngModel)]="age" [placeholder]="user?.age" />
          <div class="underline"></div>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" [placeholder]="user?.email" />
        <div class="underline"></div>
      </div>

      <div class="form-group">
        <label>О себе</label>
        <textarea
          maxlength="300"
          [(ngModel)]="about"
          [placeholder]="user?.about || 'Введите данные'"
          rows="3"
          style="border: 1px solid #f3f3f33b"
        ></textarea>
        <div class="underline"></div>
      </div>

      <div class="form-group">
        <label>Навыки</label>
        <ng-select
          [items]="programmingSkills"
          bindLabel="name"
          placeholder="Выберите навыки"
          appendTo="body"
          [multiple]="true"
          [(ngModel)]="selectedSkills"
          class="skills-selector"
        >
        </ng-select>
        <div class="underline"></div>
      </div>

      <div class="form-group avatar-upload" style="width: 100%">
        <label>Аватарка</label>
        <div class="upload-area" (click)="triggerFileInput()">
          <input
            type="file"
            #fileInput
            accept="image/*"
            style="display: none"
            name="avatar"
            (change)="onfileSelected($event)"
          />
          <p>Перетащите изображение или Загрузите</p>
          <p class="resolution-info">(разрешение до 1,240 x 1,240 px)</p>
        </div>
      </div>

      <div class="form-actions">
        <div class="action-buttons-left">
          <button type="button" class="btn logout" (click)="logout()">
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none">
              <path
                d="M1.65625 1.34375V10.6562H7V12H1.65625C1.30208 12 0.989583 11.8646 0.71875 11.5938C0.46875 11.3229 0.34375 11.0104 0.34375 10.6562V1.34375C0.34375 0.989583 0.46875 0.677083 0.71875 0.40625C0.989583 0.135417 1.30208 0 1.65625 0H7V1.34375H1.65625ZM10.3438 2.65625L13.6562 6L10.3438 9.34375L9.40625 8.375L11.125 6.65625H4.34375V5.34375H11.125L9.40625 3.59375L10.3438 2.65625Z"
                fill="currentColor"
              />
            </svg>
            Выход
          </button>
          <!-- <button type="button" class="btn reset" (click)="resetForm()">
      <svg width="10" height="12" viewBox="0 0 10 12" fill="none">
        <path d="M7.34375 0.65625H9.65625V2H0.34375V0.65625H2.65625L3.34375 0H6.65625L7.34375 0.65625ZM2.34375 4V10.6562H7.65625V4H2.34375ZM1 10.6562V2.65625H9V10.6562C9 11.0104 8.86458 11.3229 8.59375 11.5938C8.32292 11.8646 8.01042 12 7.65625 12H2.34375C1.98958 12 1.67708 11.8646 1.40625 11.5938C1.13542 11.3229 1 11.0104 1 10.6562Z" fill="currentColor"/>
      </svg>
      Сброс
    </button> -->
        </div>
        <div class="action-buttons-right">
          <button type="button" class="btn cancel">Отмена</button>
          <button type="button" class="btn save" (click)="editUser()">
            Сохранить
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
