<div class="profile-container">
    <div class="profile-main__left">
        <div class="profile-header">
            <img src="/tik-talk/public/assets/imgs/av.png" alt="">
            
            <h6>Райан Гослинг</h6>

        </div>
    </div>


    <div class="profile-main__right">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dolores minus nam accusantium molestias nemo placeat quis praesentium voluptas dicta ad repellat officiis, asperiores fugiat neque maiores! Atque, ea quae?
    </div>
</div>