:host{
    display: block;
    padding: 20px 12px;
}


.main-menu-list{
    display: grid;
    grid-gap: 8px;
    list-style: none;
    padding: 0;
}

.menu-item{
    padding: 16px 12px;
    cursor: pointer;
    border: none;
    color: var(--lith-color);
    display: grid;
    grid-template-columns: 16px 1fr max-content;
    grid-gap: 12px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    width: 100%;
    text-align: left; 
    background: none;
    align-items: center;
     margin: 0;
    &:hover,
    &:focus{
        background: var(--dark-hover-color);
        color: var(--primary-color);

        .menu-item svg{
            fill: var(--primary-color);
        }
    }
}

.menu-item{
    svg{
        width: 18px;
        height: 18px;
    }
}
