:host {
    display: flex;
    flex-direction: column;
    height: 95vh;
    padding: 20px 12px;
    border-right: 1px solid var(--lith-color);
    // background-color: red;

}

.main-menu-list {
    display: grid;
    grid-gap: 8px;
    list-style: none;
    padding: 0;
    flex: 1;
}

.menu-item {
    padding: 16px 12px;
    cursor: pointer;
    border: none;
    color: var(--lith-color);
    display: grid;
    grid-template-columns: 16px 1fr max-content;
    grid-gap: 12px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    width: 100%;
    text-align: left;
    background: none;
    align-items: center;
    margin: 0;
    border-radius: 4px; 
    
    &:hover,
    &:focus {
        background: var(--dark-hover-color);
        color: var(--primary-color);
        
        svg {
            fill: var(--primary-color);
        }
    }
    
    svg {
        width: 18px;
        height: 18px;
    }
}


footer .menu-item {
    padding: 25px 12px; 
    grid-template-columns: 1fr max-content; 
    
    .container_profile {
        width: 100%;
        padding: 0; 
        
        .profile-card__name {
            justify-content: flex-start; 
        }
    }
}

footer {
    margin-top: auto;
}

.container_profile {
    max-width: 276px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    
    .profile-card__name {
        display: flex;
        align-items: center;
        column-gap: 12px;
    }
}